<table style="height: 85px;">
  <tr>
    <td style="width: 550px;background: #d9dbda; float: left; height: 50px; padding-top: 20px; margin-top: 15px; margin-left: 2px;">
      <span style="font-size: 14pt;	font-weight: bold; float: left; padding-left: 25px;">КАТАЛОГ ДЕКОРАЦИОННЫХ ЭЛЕМЕНТОВ</span>
      <br>
      <span style="font-size: 10.5pt;float: left;padding-left: 25px;">www.fabrika-art.ru  hello@fabrika-art.ru t\f: +7 495 665 3450</span>
    </td>
    <td style="float: left;width:309px; height: 70px; margin-top: 15px;margin-left: 2px;"> <%= image_tag("/images/punkt.png", :style=>"width:309px; height: 70px;float: left;") %> </td>
    <td  style="float: left; width: 110px; margin-left: 2px;"><%= image_tag("/images/fabrika.png" , :style=>"width: 110px; height: 85px;float: left; ") %></td>
  </tr>
</table>

<table style="clear: both;">
  <tr>
    <td rowspan="2"></td>
    <td class="numb" rowspan="2">№</td>
    <td class="name" rowspan="2">НАЗВАНИЕ/ФОТО</td>
    <td class="razmer" colspan="3">РАЗМЕРЫ мм </td>
    <td class="col" rowspan="2">КОЛ-ВО</td>
    <td class="art" rowspan="2">№ АРТ</td>
    <td class="stoim" colspan="6">СТОИМОСТЬ УСЛУГ В РУБ/ШТ.</td>
  </tr>
  <tr>
    <td class="sh" >ширина</td>
    <td class="sh" >высота</td>
    <td class="sh" >глубина</td>  
    <td class="arenda" style="font-weight: bold;" >АРЕНДА</td>
    <td class="arenda" >ПОКУПКА</td>    
    <td class="arenda" >ТРАНСПОР-<br>ТИРОВКА</td>    
    <td class="arenda" >МОНТАЖ</td>    
    <td class="arenda" >ДЕМОНТАЖ</td>    
    <td class="arenda" >ШТРАФ</td>  
    <td></td>
    <td></td>
    <td><a href="/catalogues.pdf"><img src="/images/pdf.gif"></a></td>        
  </tr>

<% @catalogues.each do |catalogue| %>
  <tr>
    <td rowspan="4"></td>
    <td class="numb">
        <%= catalogue.id %>
    </td>
    <td colspan="12" class="nameitem"><%= catalogue.name %></td>
    <td rowspan="3"><%= link_to image_tag("/images/edit.png"), edit_catalogue_path(catalogue) %></td>
    <td rowspan="3"><%= link_to image_tag("/images/del.png"), catalogue, :confirm => 'Are you sure?', :method => :delete %></td>
    
  </tr>
  <tr>
    <td rowspan="2" class="f">
    </td>
    <td class="foto" rowspan="2">
        <%= catalogue.foto1 %>
    </td>
    <td colspan="3" class="razed" style="font-weight: bold;">
        <%= catalogue.width||"0" %>x<%= catalogue.height||"0" %>x<%= catalogue.depth||"0"%>
    </td>    
    <td class="razed">
      <div class="field" >
        <%= catalogue.count||"0" %>
      </div>        
    </td>
    <td class="razed">
      <div class="field" >
        <%= catalogue.art||"-" %>
      </div>        
    </td>
    <td  class="cena" style="font-weight: bold;">
      <div class="field">
        <%= catalogue.rent||"-"  %>
      </div>        
    </td>
    <td  class="cena">
      <div class="field">
        <%= catalogue.purchase||"-" %>
      </div>        
    </td>
    <td   class="cena">
      <div class="field">
        <%= catalogue.transportation||"-"  %>
      </div>        
    </td>
    <td  class="cena">
      <div class="field">
        <%= catalogue.installation||"-" %>
      </div>        
    </td>
    <td  class="cena">
      <div class="field">
        <%= catalogue.dismantling||"-" %>
      </div>        
    </td>
    <td  class="cena">
      <div class="field">
        <%= catalogue.fine||"-"  %>
      </div>        
    </td>
  </tr>
  <tr >
    <td colspan="11" class="desc"><%= catalogue.desc %></td>
  </tr>
  <tr><td colspan="13" style="padding-bottom: 2px;"></td></tr>
<% end %>
  <tr>
    <td>
      <%= form_for(@catalogue) do |f| %>
        <% if @catalogue.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@catalogue.errors.count, "error") %> prohibited this catalogue from being saved:</h2>

            <ul>
            <% @catalogue.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
    </td>
  </tr>
  <tr>
    <td rowspan="4" class="mainf">
      <%= image_tag("/images/one_photo.png") %><%= f.radio_button :mainfoto, "true" %>
      <br>
      <%= image_tag("/images/many_photo.png") %><%= f.radio_button :mainfoto, "false" %>
    </td>    
    <td class="numb">

    </td>
    <td colspan="12" class="nameitem"><%= f.text_field :name ,:style=>"width: 99%;" %></td>
    <td rowspan="3"></td>
    <td rowspan="3"></td>
    
  </tr>
  <tr>
    <td rowspan="2" class="f">
    </td>
    <td class="foto" rowspan="2">
        <%= f.file_field  :foto1 %>
    </td>
    <td colspan="3" class="razed" style="font-weight: bold;">
        <%= f.text_field :width ,:style=>"width: 20px;" %>X<%= f.text_field :height  ,:style=>"width: 20px;" %>X<%= f.text_field :depth  ,:style=>"width: 20px;" %>
    <td class="razed">
      <div class="field" >
        <%= f.text_field :count ,:style=>"width: 30px;" %>
      </div>        
    </td>
    <td class="razed">
      <div class="field" >
        <%= f.text_field :art ,:style=>"width: 30px;" %>
      </div>        
    </td>
    <td  class="cena" style="font-weight: bold;">
      <div class="field">
        <%= f.text_field :rent ,:style=>"width: 30px;"  %>
      </div>        
    </td>
    <td  class="cena">
      <div class="field">
        <%= f.text_field :purchase ,:style=>"width: 30px;" %>
      </div>        
    </td>
    <td   class="cena">
      <div class="field">
        <%= f.text_field :transportation  ,:style=>"width: 30px;"%>
      </div>        
    </td>
    <td  class="cena">
      <div class="field">
        <%= f.text_field :installation ,:style=>"width: 30px;" %>
      </div>        
    </td>
    <td  class="cena">
      <div class="field">
        <%= f.text_field :dismantling  ,:style=>"width: 30px;"%>
      </div>        
    </td>
    <td  class="cena">
      <div class="field">
        <%= f.text_field :fine  ,:style=>"width: 30px;" %>
      </div>        
    </td>
  </tr>
  <tr>
    <td colspan="11" class="desc"><%= f.text_area :desc  ,:style=>"width: 100%; height: 50px;" %></td>
    <td>
      <div class="actions">
      <%= f.submit :type=>"image", :src=>"/images/add.png" %>
      </div>
    </td>  
  </tr>
  <% end %>
</table>

<br />

