<% content_for :javascript do %>
  <%= render 'js'%>
<% end %>
<table style="height: 85px; position: fixed; top:0; background: white;">
  <tr>
    <td style="width: 550px;background: #d9dbda; float: left; height: 50px; padding-top: 20px; margin-top: 15px; margin-left: 2px;">
      <span style="font-size: 14pt;	font-weight: bold; float: left; padding-left: 25px;">КАТАЛОГ ДЕКОРАЦИОННЫХ ЭЛЕМЕНТОВ</span>
      <br>
      <span style="font-size: 10.5pt;float: left;padding-left: 25px;">www.fabrika-art.ru  hello@fabrika-art.ru t\f: +7 495 665 3450</span>
    </td>
    <td style="float: left;width:309px; height: 70px; margin-top: 15px;margin-left: 2px;"> <%= image_tag("/images/punkt.png", :style=>"width:309px; height: 70px;float: left;") %> </td>
    <td  style="float: left; width: 110px; margin-left: 2px;"><%= image_tag("/images/fabrika.png" , :style=>"width: 110px; height: 85px;float: left; ") %></td>
  </tr>
</table>

<table style="clear: both; position: fixed; top:85px; background: white; ">
  <tr>
    <td class="mainf" style="width: 60px;" >&nbsp;</td>
    <td class="numb" rowspan="2" style="width: 25px;">№</td>
    <td class="name" rowspan="2" style="width: 270px;">НАЗВАНИЕ/ФОТО</td>
    <td class="razmer" colspan="3" style="width: 125px;">РАЗМЕРЫ мм </td>
    <td class="col" rowspan="2" style=" width: 50px; " >КОЛ-ВО</td>
    <td class="art" rowspan="2"  style=" width: 75px;">№ АРТ</td>
    <td class="stoim" colspan="6">СТОИМОСТЬ УСЛУГ В РУБ/ШТ.</td>
    <td rowspan="2"></td>
    <td rowspan="2"><a href="/catalogues.pdf"><img src="/images/pdf.gif"></a></td>    
  </tr>
  <tr>
    <td class="mainf" style="width: 62px;"><div style="width: 62px;"></div></td>    
    <td class="sh" >ширина</td>
    <td class="sh" >высота</td>
    <td class="sh" >глубина</td>  
    <td class="arenda" style="font-weight: bold;" >АРЕНДА</td>
    <td class="arenda" >ПОКУПКА</td>    
    <td class="arenda" >ТРАНСПОР-<br>ТИРОВКА</td>    
    <td class="arenda" >МОНТАЖ</td>    
    <td class="arenda" >ДЕМОНТАЖ</td>    
    <td class="arenda" >ШТРАФ</td>  
  </tr>
</table>  
<table style="clear: both; margin-top: 65px; display:none;" >
  <tbody >
  <tr >
    <td rowspan="2" class="mainf" style="width: 60px;" ></td>
    <td class="numb" rowspan="2">№</td>
    <td class="name" rowspan="2">НАЗВАНИЕ/ФОТО</td>
    <td class="razmer" colspan="3">РАЗМЕРЫ мм </td>
    <td class="col" rowspan="2">КОЛ-ВО</td>
    <td class="art" rowspan="2">№ АРТ</td>
    <td class="stoim" colspan="6">СТОИМОСТЬ УСЛУГ В РУБ/ШТ.</td>
  </tr>
  <tr>
    <td class="sh" >ширина</td>
    <td class="sh" >высота</td>
    <td class="sh" >глубина</td>  
    <td class="arenda" style="font-weight: bold;" >АРЕНДА</td>
    <td class="arenda" >ПОКУПКА</td>    
    <td class="arenda" >ТРАНСПОР-<br>ТИРОВКА</td>    
    <td class="arenda" >МОНТАЖ</td>    
    <td class="arenda" >ДЕМОНТАЖ</td>    
    <td class="arenda" >ШТРАФ</td>  
    <td></td>
    <td></td>
    <td><a href="/catalogues.pdf"><img src="/images/pdf.gif"></a></td>        
  </tr>
  </tbody>
</table>
<ul id="tables" style="width: 1100px; padding:0;">
<% @catalogues.each do |catalogue| %>
<li id="table_<%=catalogue.id %>" style="clear: both;">
<div style="width: 1200px; float: left;">
<table style="float: left;">
  <tr >
    <td rowspan="4" style="width: 62px;" >        <div style="width: 62px;"></div></td>
    <td class="numb" style="width: 27px;">
        <%= catalogue.position %>
    </td>
    <td colspan="12" class="nameitem"><%= catalogue.name %></td>
    <td rowspan="3"><%= link_to image_tag("/images/edit.png"), edit_catalogue_path(catalogue) %></td>
    <td rowspan="3"><%= link_to image_tag("/images/del.png"), catalogue, :confirm => 'Are you sure?', :method => :delete %></td>
    
  </tr>
  <tr >
    <td rowspan="2" class="f" style="width: 27px;">&nbsp;</td>
    <td class="foto" rowspan="2" style="width: 272px;">
        <%- if catalogue.mainfoto? %>
          <div class="fotom"style="width: 272px;">
            <%= image_tag(catalogue.foto1_url(:one_foto)) if catalogue.foto1? %>
            &nbsp;
          </div>
          <%- else %>
          <div class="foto1" style="width: 272px;">
            <%= image_tag(catalogue.foto1_url(:main_foto)) if catalogue.foto1?  %>
          </div>
          <div class="foto2" style="width: 136px;">
            <%= image_tag(catalogue.foto2_url(:tumb_foto)) if catalogue.foto2? %>&nbsp;            
          </div>
          <div class="foto2" style="width: 136px;">          
            <%= image_tag(catalogue.foto3_url(:tumb_foto)) if catalogue.foto3? %>  &nbsp;                    
          </div>          
        <%- end %>        
    </td>
    <td colspan="3" class="razed shvg" style="font-weight: bold; width: 127px; ">
       <div style="font-weight: bold; width: 127px; "> <%= catalogue.width||"0" %>x<%= catalogue.height||"0" %>x<%= catalogue.depth||"0"%>
         </div>
    </td>    
    <td class="razed kolvo" style=" width: 52px; ">
      <div class="field" >
        <%= catalogue.count||"0" %>
      </div>        
    </td>
    <td class="razed artikl">
      <div class="field" style=" width: 77px; ">
        <%= catalogue.art||"-" %>
      </div>        
    </td>
    <td  class="cena arendy" style="font-weight: bold;width: 54px; ">
      <div class="field">
        <%= catalogue.rent||"-"  %>
      </div>        
    </td>
    <td  class="cena pokupka" style="width: 59px; ">
      <div class="field">
        <%= catalogue.purchase||"-" %>
      </div>        
    </td>
    <td   class="cena transport" style="width: 69px; ">
      <div class="field">
        <%= catalogue.transportation||"-"  %>
      </div>        
    </td>
    <td  class="cena ustanovka" style="width: 56px;">
      <div class="field">
        <%= catalogue.installation||"-" %>
      </div>        
    </td>
    <td  class="cena demontazh" style="width: 70px; ">
      <div class="field">
        <%= catalogue.dismantling||"-" %>
      </div>        
    </td>
    <td  class="cena shtraf"  style="width: 46px; ">
      <div class="field">
        <%= catalogue.fine||"-"  %>
      </div>        
    </td>
  </tr>
  <tr >
    <td colspan="11" class="desc"><%= catalogue.desc %></td>
  </tr>
  <tr><td colspan="13" style="padding-bottom: 2px;"></td></tr>
</table>
<span class="handle" style="float: left; margin: auto 5px;">
  <img src="/images/drag.png">
  </span>   

</div>

</li>
<% end %>
</ul>
 <%= form_for(@catalogue) do |f| %>
    <% if @catalogue.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@catalogue.errors.count, "error") %> prohibited this catalogue from being saved:</h2>

        <ul>
        <% @catalogue.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
<table style="clear:both; float:left;">
  <tbody>
  <tr>
     <td class="mainf" style="width: 58px;">        <div style="width: 58px;"></div>
      </td>
    <td class="numb" ><div style="width: 25px;">&nbsp;</div></td>
    <td colspan="12" class="nameitem" style="width: 892px;" ><%= f.text_field :name ,:style=>"width: 880px;" %></td>
    <td rowspan="3">&nbsp; <div class="actions">
  <%= f.submit :type=>"image", :src=>"/images/add.png" %>
  </div></td>
    <td rowspan="3">&nbsp;</td>
    
  </tr>
  <tr>
     <td rowspan="2" class="mainf"style="width: 58px;" >
        <div style="width: 58px;">
        <%= image_tag("/images/one_photo.png") %><%= f.radio_button :mainfoto, "true" %>
        <br>
        <%= image_tag("/images/many_photo.png") %><%= f.radio_button :mainfoto, "false" %>
        </div>
      </td>    
    <td rowspan="2" class="f" style="width: 25px;">&nbsp;</td>
    <td class="foto" rowspan="2">
        <div class="foto1" style="width: 272px;">
        <%= f.file_field  :foto1 %>
        </div>
        <div class="foto2" style="width: 272px; height:50px;">
        <%= f.file_field  :foto2 %>
        <%= f.file_field  :foto3 %>                
        </div>
    </td>
    <td colspan="3" class="razed" style="width: 127px;">
        <%= f.text_field :width ,:style=>"width: 20px;" %>X<%= f.text_field :height  ,:style=>"width: 20px;" %>X<%= f.text_field :depth  ,:style=>"width: 20px;" %>
    <td class="razed">
      <div class="field" >
        <%= f.text_field :count ,:style=>"width: 30px;" %>
      </div>        
    </td>
    <td class="razed">
      <div class="field" >
        <%= f.text_field :art ,:style=>"width: 30px;" %>
      </div>        
    </td>
    <td  class="cena" style="font-weight: bold;">
      <div class="field">
        <%= f.text_field :rent ,:style=>"width: 30px;"  %>
      </div>        
    </td>
    <td  class="cena">
      <div class="field">
        <%= f.text_field :purchase ,:style=>"width: 30px;" %>
      </div>        
    </td>
    <td   class="cena">
      <div class="field">
        <%= f.text_field :transportation  ,:style=>"width: 30px;"%>
      </div>        
    </td>
    <td  class="cena">
      <div class="field">
        <%= f.text_field :installation ,:style=>"width: 30px;" %>
      </div>        
    </td>
    <td  class="cena">
      <div class="field">
        <%= f.text_field :dismantling  ,:style=>"width: 30px;"%>
      </div>        
    </td>
    <td  class="cena">
      <div class="field">
        <%= f.text_field :fine  ,:style=>"width: 30px;" %>
      </div>        
    </td>
  </tr>
  <tr>
    <td style="width: 62px;"></td>
    <td colspan="11" class="desc"><%= f.text_area :desc  ,:style=>"width: 400px; height: 50px;" %>
      </td>
  </tr>

  </tbody>
</table>
  <% end %>
<br />

