<table style="clear: both; font-size: 10pt; width: 1040px; margin-top: 10px;">

<% @catalogues.each do |catalogue| %>
  <tr style="page-break-after: avoid;">
    <td class="numb" style="width: 25px;">
        <%= catalogue.position %>
    </td>
    <td colspan="12" class="nameitem" ><%= catalogue.name %></td>
  </tr>
  <tr  style="page-break-after: avoid;">
    <td rowspan="2" class="f">
    </td>
    <td class="foto" rowspan="2" style="width: 270px;">
      <%- if catalogue.mainfoto? %>
        <div class="fotom" style="width: 270px;">
          <%= image_tag("#{::Rails.root}/public"+catalogue.foto1_url(:one_foto)) if catalogue.foto1? %>
        </div>
        <%- else %>
        <div class="foto1">
          <%= image_tag("#{::Rails.root}/public"+catalogue.foto1_url(:main_foto)) if catalogue.foto1?  %>
        </div>
        <div class="foto2">
          <%= image_tag("#{::Rails.root}/public"+catalogue.foto2_url(:tumb_foto)) if catalogue.foto2? %>            
        </div>
        <div class="foto2">          
          <%= image_tag("#{::Rails.root}/public"+catalogue.foto3_url(:tumb_foto)) if catalogue.foto3? %>                      
        </div>          
      <%- end %>        
    </td>
    <td colspan="3" class="razed" style="font-weight: bold; width: 120px; ">
      <div>
        <%= catalogue.width||"0" %>x<%= catalogue.height||"0" %>x<%= catalogue.depth||"0"%>
      </div>  
    </td>    
    <td class="razed" style=" width: 52px; " >
      <div class="field" >
        <%= catalogue.count||"0" %>
      </div>        
    </td>
    <td class="razed" style=" width: 74px; " >
      <div class="field" >
        <%= catalogue.art||"-" %>
      </div>        
    </td>
    <td  class="cena" style="font-weight: bold;width: 61px; ">
      <div class="field">
        <%= catalogue.rent||"-"  %>
      </div>        
    </td>
    <td  class="cena" style=" width: 69px; ">
      <div class="field">
        <%= catalogue.purchase||"-" %>
      </div>        
    </td>
    <td   class="cena" style=" width: 89px; ">
      <div class="field">
        <%= catalogue.transportation||"-"  %>
      </div>        
    </td>
    <td  class="cena" style=" width: 67px; ">
      <div class="field">
        <%= catalogue.installation||"-" %>
      </div>        
    </td>
    <td  class="cena" style=" width: 83px; ">
      <div class="field">
        <%= catalogue.dismantling||"-" %>
      </div>        
    </td>
    <td  class="cena" style=" width: 53px; ">
      <div class="field">
        <%= catalogue.fine||"-"  %>
      </div>        
    </td>
  </tr>
  <tr  style="page-break-after: avoid;">
    <td colspan="11" class="desc"><%= catalogue.desc %></td>
  </tr>
  <tr  style="page-break-after: always; display: block; clear: both;"><td colspan="13" style="padding-bottom: 10px;"><div></div></td></tr>  
<% end %>